<nav class="navbar navbar-expand-lg navbar-light bg-skyblue">
  <div class="container">
      <div id="filterGitHubUser" class="col text-left">
          <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
            <button
              class="btn btn-white"
              id="dropdownManual"
              ngbDropdownToggle>
              Sort Profiles
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button ngbDropdownItem (click)="sortByNameAscending()">Sort By User Name (A-Z)</button>
              <button ngbDropdownItem (click)="sortByNameDescending()">Sort By User Name (Z-A)</button>
            </div>
          </div>
        </div>
      
        <div class="col">
          <div class="input-group">
            <input
              #searchUser
              type="search"
              placeholder="Search..."
              id="search"
              class="form-control"
              (keyup.enter)="onKeyUp(searchUser.value)"
            />
          </div>
        </div>
  </div>  
</nav>

<div
  class="container"
  *ngIf="
    gitHubDataFromAPI &&
    gitHubUserDetails.length === gitHubDataFromAPI.items.length
  "
>
  <div id="totalResults">Total Results : {{ totalResults }}</div>
  <div class="gitHubData" *ngFor="let user of gitHubUsers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
    <div class="gitUsers">
      <div class="thumbnailSection">
        <img class="profilePic" [src]="user.avatar_url" id="user.id" />
      </div>
      <div class="profileDetailsSection">
        <h3>{{ user?.id | fullName: gitHubUserDetails }}</h3>
        <h6>Profile URL: <a [attr.href]="user.html_url" target="_blank">{{ user?.html_url }}</a></h6>
        <div class="dataSection">
          <div>
            <span>Company: {{user?.id | companyName: gitHubUserDetails}}</span>
            <br />
            <span>Location: {{user?.id | location: gitHubUserDetails}}</span>
          </div>
          <div class="col text-right buttonGroup" style="float: right">
            <button id="detailsButton-{{i}}"
              class="btn btn-outline-primary"
              (click)="checkCollapse(i); getReposData(user.login, $event);">
              Details
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="extraDetailsSection">
        <div id="collapseDetails" [ngbCollapse]="isCollapsed[i]">
            <div class="card">
              <div class="card-body">
                  <table class="table table-striped">
                      <thead>
                        <th>Repository Name</th>
                        <th>Programming Language</th>
                        <th>Open Issues</th>
                        <th>Followers</th>
                        <th>Fork Count</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let repo of gitHubRepos">
                          <td>{{repo.name}}</td>
                          <td>{{(repo.language === null)?"N/A": repo.language}}</td>
                          <td class="centeredText">{{repo.open_issues_count}}</td>
                          <td class="centeredText">{{repo.watchers}}</td>
                          <td class="centeredText">{{repo.forks_count}}</td>
                        </tr>                
                      </tbody>
                    </table>  
              </div>
            </div>
          </div>
    </div>
  </div>
  <div id="pagination">
    <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="gitHubUsers.length"
    (pageChange)="pageChange($event)"></ngb-pagination>
  </div>
</div>
