<nav class="navbar navbar-expand-lg navbar-light bg-skyblue">
  <div class="container">
    <div id="filterGitHubUser" class="col text-left">
      <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
        <button class="btn btn-white" id="dropdownManual" ngbDropdownToggle>
          Sort GitHub Profiles
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button ngbDropdownItem (click)="sortByNameAscending()">
            Sort By User Name (A-Z)
          </button>
          <button ngbDropdownItem (click)="sortByNameDescending()">
            Sort By User Name (Z-A)
          </button>
          <button ngbDropdownItem (click)="sortByIncreasingScore()">
            Sort By Score - Increasing (&uarr;)
          </button>
          <button ngbDropdownItem (click)="sortByDecreasingScore()">
            Sort By Score - Decreasing (&darr;)
          </button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <input
          #searchUser
          type="search"
          placeholder="Search..."
          id="search"
          class="form-control"
          (keyup.enter)="onKeyUp(searchUser.value)"
        />
      </div>
    </div>
  </div>
</nav>

<div
  class="container"
  *ngIf="
    gitHubDataFromAPI &&
    gitHubUserDetails.length === gitHubDataFromAPI.items.length
  "
>
  <div id="totalResults">
    Total Results : {{ totalResults }} ! 👉
    <span id="resultLimitAlert"
      >Limiting the results to 100 (per request) due to GitHub
      limitations!</span
    >
  </div>
  <div
    class="gitHubData"
    *ngFor="
      let user of gitHubUsers
        | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
      let i = index
    "
  >
    <div class="gitUsers">
      <div class="thumbnailSection">
        <img class="profilePic" [src]="user.avatar_url" id="user.id" />
      </div>
      <div class="profileDetailsSection">
        <h3>{{ user?.id | fullName: gitHubUserDetails }}</h3>
        <h6>
          Profile URL:
          <a [attr.href]="user.html_url" target="_blank">{{
            user?.html_url
          }}</a>
        </h6>
        <h6>➡️ Score: {{ user?.score | number: "1.0-0" }}</h6>
        <div class="dataSection">
          <div>
            <span
              >Company: {{ user?.id | companyName: gitHubUserDetails }}</span
            >
            <br />
            <span>Location: {{ user?.id | location: gitHubUserDetails }}</span>
          </div>
          <div class="col text-right buttonGroup" style="float: right">
            <button
              id="detailsButton-{{ i }}"
              class="btn btn-outline-primary"
              (click)="checkCollapse(i); getReposData(user.login, $event)"
            >
              Details
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="extraDetailsSection">
      <div id="collapseDetails" [ngbCollapse]="isCollapsed[i]">
        <div class="card">
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <th>Repository Name</th>
                <th>Programming Language</th>
                <th>Open Issues</th>
                <th>Followers</th>
                <th>Fork Count</th>
              </thead>
              <tbody>
                <tr *ngFor="let repo of gitHubRepos">
                  <td>{{ repo.name }}</td>
                  <td>{{ repo.language === null ? "N/A" : repo.language }}</td>
                  <td class="centeredText">{{ repo.open_issues_count }}</td>
                  <td class="centeredText">{{ repo.watchers }}</td>
                  <td class="centeredText">{{ repo.forks_count }}</td>
                </tr>
              </tbody>
            </table>
            <ngx-spinner
              [fullScreen]="false"
              type="line-scale"
              size="medium"
              name="repoSpinner"
              ><p class="loading">Loading GitHub Repositories 🗃️...</p>
            </ngx-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="pagination">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="gitHubUsers.length"
      [maxSize]="7"
      [boundaryLinks]="true"
      [ellipses]="false"
      (pageChange)="pageChange($event)"
    ></ngb-pagination>
  </div>
</div>
<div class="clickOnSearch" *ngIf="!gitHubDataFromAPI">
  <h1>Click</h1>
  <h1>On</h1>
  <h1>Search!🔎</h1>
  <h1>Type Something and Press Enter!</h1>
</div>
<ngx-spinner
  bdOpacity="0.9"
  bdColor="#333"
  size="medium"
  color="#fff"
  type="timer"
  name="fullScreenSpinner"
  [fullScreen]="true"
>
  <p style="color: white">Searching Lots of GitHub Users 😴...</p>
</ngx-spinner>
