/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.bg-skyblue{
    background-color: rgb(0, 115, 180);
}

.btn-white{
    background-color: white;
    color: black;
}